
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .container{
    width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
} */
.topberWarpper{
    background-color:#f5f5f5;
}
.phone {
    width: 200px;
    float: left;
    padding: 15px 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.phone i{
    color: orangered;
}
.email {
    width: 910px;
    float: left;
    padding: 15px 10px;
}
.email i{
    color: orangered; 
}
.social{
    width: 140px;
    float: left;
    transition: .3s;
}
.social i:hover{
    color: orangered; 
}

.social a{
    display: block;
    float: left;
    padding: 15px;
    color: #2b2b2b;
    border-right: 1px solid #ddd;
}
.social a:first-child{
    border-left: 1px solid #ddd;
}
.topheader {
    overflow: hidden;
}

/*---------------------- menu --------------------*/
header {
    background: gainsboro;
}
.header ul{
    display: block;
    text-align: right;
    margin-bottom: 0px;
}
.header ul li{
    display: inline-block;
}
.header ul li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding: 0px 30px;
    line-height: 60px;
    border-right: #ddd;
    transition: .3s;
}
.header ul li a:hover{
    color: orangered;
}
/* slider section */
section.services h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: rgb(109, 104, 104);
}

section.services h1 span {
    color: orangered;
}
/* about section */
.about-section{
    margin-top: 50px;
    margin-bottom: 50px;
}
section.about-section li {
    list-style: none;
}
.flaticon-factory:before {
    content: "\f100";
}
.service-section .dark-bg {
    position: absolute;
    background-image:url(images/slider-3.jpg);
    width: 100%;
    height: 350px;
    left: 0;
    top: 0;
    z-index: -2;
    padding-top: 80px;
}

.bg-dark h1 {
    background-image:url(images/images.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 350px;
    margin-top: 50px;
    padding-top: 132px;
    color: #fff;
}
section.dark-section {
    margin-bottom: 100px;
}
i.fas.fa-drafting-compass {
    color: orangered;
    font-size: 88px;
    padding: 10px;
}
i.fas.fa-paint-roller {
    color: orangered;
    font-size: 88px;
    padding: 10px;
}
i.fas.fa-hammer {
    color: orangered;
    font-size: 88px;
    padding: 10px;

}
ection.servics-Item {
    margin-bottom: 86px;
}
.four{
    background-image: url(./images/d-slide-6.jpg);
    padding: 130px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.count h1 {
    border-radius: 100%;
    color: #fff;
    background: #f34708;
    width: 21%;
    height: 10%;
    text-align: center;
    margin-left: 95px;
    margin-top: 30px;
    margin-bottom: 17px;
}
.btn {
    background-color: #f34708;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    line-height: 45px;
    font-weight: 600;
    display: inline-block;
    letter-spacing: .5px;
    padding: 0 30px;
    margin-left: 72px;
    margin-top: 30px;
    border: none;
}
.project img.postimg {
    width: 254px;
    height: 300px;
    transition: 0.6s;
     cursor: pointer;
}
.project{
    margin-bottom: 50px;
}
img.postimg:hover{
    transform:scale(0.9)

}
.card{
    transition: 0.5s;
    cursor: pointer;
}
.card:hover {
    transform:scale(0.7)
}
.exprenimg{
    background-image: url(./images/d-slide-6.jpg);
    padding: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}
section.abue-ques img {
    width: 460px;
}
.Btn {
    margin-left: 0px;
}
.testim.text-center {
    margin-top: 50px;
    margin-bottom: 50px;
}
img.tastiimg {
    border-radius: 100%;
}
section.fromBlog {
    margin-top: 100px;
}

.ftext.text-center {
    margin-bottom: 50px;
}
.fromBlog img.postimg {
    width: 349px;
    border: none;
}
section.footer {
    background-color: currentColor;
}
a {
    text-decoration: none;
    color: #ddd;
}

li {
    list-style: none;
}
i.fab.fa-facebook:hover {
    color: rgb(238, 76, 17);
}

i.fab.fa-linkedin:hover {
    color: rgb(231, 76, 19);
}

i.fab.fa-twitter:hover {
    color: rgb(240, 78, 20);
}

i.fab.fa-instagram-square:hover {
    color: rgb(240, 77, 17);
}
/* project css */
.fonticon i.fas.fa-industry {
    font-size: 50px;
    color: orangered;
}

i.fas.fa-user-tie {
    font-size: 50px;
    color: orangered;
}
i.fas.fa-cogs {
    font-size: 50px;
    color: orangered;
}
